<!doctype html>
<html>
<head>
    <title>Honda Talk</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="blklogin">
<div class="container">

    <div class="jumbotron text-center">
        <h1>Honda Fan Page</h1>
        <img src="http://www.bassettsgroup.co.uk/images/user/Bassetts-Honda-Logo.png" alt="Honda logo">

        <p>Login, Signup or GetOut!!:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
